{% extends "upis/base.html" %}
{% block content %}
<h2>Prijave</h2>
<article class="media content-section">
    <div class="media-body">
        <table class="table table-bordered table-sm w-auto text-center">
            <thead class="thead-light">
                <tr>
                  <th>Ime i prezime</th>
                  <th>Smjer</th>
                  <th>Upisnik</th>
                  <th>Vrijeme</th>
                  <th>Objasnjenje</th>
                </tr>
            </thead>
            <tbody>
                {% for odobrenje in object_list %}
                <tr>
                    <td>{{ odobrenje.prijava.korisnik.ime }} {{ odobrenje.prijava.korisnik.prezime }}</td>
                    <td>{{ odobrenje.prijava.smjer.naziv }}</td>
                    <td>{{ odobrenje.upisnik.ime }} {{ odobrenje.upisnik.prezime }}</td>
                    <td>{{ odobrenje.vrijeme }}</td>
                    <td>{{ odobrenje.objasnjenje }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <!-- <a href="#" class="btn btn btn-outline-secondary d-block">{{ smjer.naziv }}</a> -->
        </table>
        {% if moze_prijaviti %}
            <a href="{% url 'prijava' %}" class="btn btn btn-outline-secondary d-block">Prijavi se</a>
        {% endif %}
    </div>
</article>
{% endblock content %}