{% extends "upis/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <table class="table table-bordered table-sm w-auto text-center">
                <thead class="thead-light">
                    <tr>
                      <th>ECTS</th>
                      <th>Naziv predmeta i nositelj</th>
                      <th>Opis</th>
                    </tr>
                  </thead>
                <tbody>
                    {% for predmet in object_list %}
                    <tr>
                        <td >{{ predmet.ects }}</td>
                        <td >{{ predmet.naziv }} <br /> {{ predmet.nositelj }}</td>
                        <td >{{ predmet.opis }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3">
                            {% if moze_prijaviti %}
                                <a href="{% url 'prijava' smjer %}" class="btn btn btn-outline-secondary d-block">Prijavi se</a>
                            {% else %}
                                <p>Već si se prijavio na smjer</p>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
{% endblock content %}