{% extends "upis/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {% if form.smjer_label %}
                    <div class="form-group">
                        <label for="smjer">Smjer*</label>
                            <p>{{ form.smjer_label }}</p>  <!-- Display the smjer as a label -->
                    </div>
                {% endif %}
                {{ form|crispy }}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Prijavi se</button>

            </div>
        </form>
    </div>
{% endblock content %}
