{% extends "upis/base.html" %}
{% block content %}
<h2>Prijave</h2>
<article class="media content-section">
    <div class="media-body">
        <table class="table table-bordered table-sm w-auto text-center">
            <thead class="thead-light">
                <tr>
                  <th>Ime i prezime</th>
                  <th>Smjer</th>
                  <th></th>
                </tr>
            </thead>
            <tbody>
                {% for prijava in object_list %}
                <tr>
                    <td>{{ prijava.korisnik.ime }} {{ prijava.korisnik.prezime }}</td>
                    <td>{{ prijava.smjer.naziv }}</td>
                    <td><a href="{% url 'odobri' prijava.id %}" class="btn btn btn-outline-secondary d-block">Odobri</a></td>
                </tr>
                {% endfor %}
            </tbody>
            <!-- <a href="#" class="btn btn btn-outline-secondary d-block">{{ smjer.naziv }}</a> -->
        </table>
        {% if moze_prijaviti %}
            <a href="{% url 'prijava' %}" class="btn btn btn-outline-secondary d-block">Prijavi se</a>
        {% endif %}
    </div>
</article>
{% endblock content %}